.container {
  position: fixed;
  top: 74px;
  left: 72px;
  padding: 1em;
  background: rgba(214, 211, 211, 0.8);;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-around;
  height: 72px;
  z-index: 3;
  width: calc(100% - 72px);
}