.wrap__board {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  image-rendering: optimizeSpeed;             /* Legal fallback */
  image-rendering: -moz-crisp-edges;          /* Firefox        */
  image-rendering: -o-crisp-edges;            /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  image-rendering: crisp-edges;               /* CSS4 Proposed  */
  image-rendering: pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}
.board__grid {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-size: 1px 1px;
  pointer-events: none;
  opacity: 0.5;
  background-image: linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(to bottom, #ccc 1px, transparent 1px);
  top: 0;
  left: 0;
  display: block;
  transition: 250ms ease-out opacity;
  z-index: 1;
  background-position: -0.5px -0.5px;
}
.board__scale {
  width: 100%;
  height: 100%;
}
.pixel {
  width: 1px;
  height: 1px;  /* position: absolute; */

  background: green;
}
.pixel__center {
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  color: greenyellow;
}
.colors_controlls {
 position: fixed;
 display: flex;
 margin: 0 auto;
 bottom: 0;
 z-index: 100;
}