
@import "@material/top-app-bar/mdc-top-app-bar";

.logo {
  height: 55px;
  width: auto;
  align-self: center;
}
.topappbar {
  background: white;
  color: #000;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px #9e8181f2, 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}

.c_btn {
  margin-left: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l_vrk {
  height: 80px;
  width: auto;
}
.l_ek {
  height: 100px;
  width: auto;
}
.row_two {
  display: none;
}
@media only screen and (max-width: 600px) {
  .logo {
    height: 51px;
    width: auto;
    align-self: center;
  }
}

@media only screen and (max-width: 760px) {
  .l_ek {
    display: none;
  }
  .l_vrk {
    display: none;
  }
}

@media only screen and (max-width: 890px) {
  .l_ek {
    height: 88px;
    width: auto;
  }
  .l_vrk {
    height: 64px;
  }
}
@media (max-width: 492px) {
  .logo {
    height: 46px;
    margin-right: 48px;
    width: auto;
    align-self: center;
  }
}
@media (max-width: 410px) {
  .mobile_h {
    display: none;
  }
  .mobile_m {
    display: flex;
    padding-left: 1em;
    width: 100%;
    justify-content: space-between;
  }
  .logo {
    height: 46px;
    margin:  0 auto;
    margin-right: 0;
    margin-left: 88px;

    width: auto;
    align-self: center;
    justify-self: center;
  }
  .mdc-top-app-bar__row {
    height: 40px;
  }
  .row_two {
    display: block
  }
  .c_btn {
    display: none;
  }
}