// theme
  $mdc-theme-primary: white;
  $mdc-theme-on-primary: #4056a1;

  $mdc-theme-secondary: #eccf4f;
  $mdc-theme-on-secondary: #992b2b;

  $mdc-theme-on-secondary: #000;
  
  // typhography
  $mdc-typography-font-family: unquote("Veranda, sans-serif");
  $mdc-typography-styles-button: (
   font-size: 18px,
   font-weight: 600,
   letter-spacing: 0.05em,
  );

  @import 'preact-material-components/Theme/mdc-theme.scss';

  @import '@material/typography/mdc-typography.scss';
  @import '@material/button/mdc-button.scss';
  @import "@material/dialog/mdc-dialog.scss";
  @import "@material/textfield/mdc-text-field";
  @import "@material/top-app-bar/mdc-top-app-bar.scss";
  @import "@material/checkbox/mdc-checkbox";

  :root {

      box-sizing: border-box; 
  }
  .mdc-top-app-bar {
    background: #ECECEC;
    color:#000 !important;
  }

html, body {
  align-items: center;
  justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0;
  margin: 0;
  display: flex;
  background: #f2f2f2;
  font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: #4056a1;;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
svg#board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
.disabled {
  display: none;
  transition: all 1s;
}
#app {
  height: 100%;
  width: 100%;
}

.okkk {
  position: fixed;
  left: -200px;
  top: -200px;
  z-index: 999;
}
.pixelated {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
.none {
  position: absolute;
  right: -1000px;
}
.mdc-dialog__surface {
  background-color: rgba($color: #fff, $alpha: 0.95);
}
.mdc-dialog__body {
  color: #4056a1;
}
.mdc-theme--dark .mdc-card {
  color: #444;
}
.mdc-dialog__body--scrollable {
  max-height: 69vh;
}
.mdc-top-app-bar__row{
  height: 92px;
}
#app .page {
  padding-top: 64px;
  
}
.container_main {
  height: calc( 100vh - 64px);
  position: relative;
}
.mdc-button {
  font-size: 17px;
}
.shadow {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
 }
@media (max-width: 599px) {
  #app .page {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 890px) {
  .mdc-top-app-bar__row{
    height: 78px;
  }
  .mdc-button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media only screen and (max-width: 760px) {
  .mdc-top-app-bar__row{
    height: 64px;
  }
  .container_main {
    height: calc( 100vh + 64px);
    position: relative;
  }
}
@media (max-width: 492px) {
  .mdc-dialog__header__title {
    font-size: 0.75rem;
  }


.mdc-dialog__header {
    padding: 15px 10px 0;
}
  .mdc-button {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media (max-width: 692px) {
  .logo {
    height: 46px;
    margin:  0 auto;
    margin-right: 48px;
    width: auto;
    align-self: center;
    justify-self: center;
  }
  .mdc-top-app-bar__row {
    height: 40px;
  }
}

.noScroll {
  max-height: 100vh !important;
  position:fixed;
  overflow:hidden;
}
.t_link {
  color: $mdc-theme-secondary;
  text-decoration: none;
  margin-left: 20px;
}
.t_link:hover, .t_link:active {
  color: white;
  text-decoration: underline;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  max-height: 44px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
