// theme
  $mdc-theme-primary: white;
  $mdc-theme-on-primary: #4056a1;

  $mdc-theme-secondary: #eccf4f;
  $mdc-theme-on-secondary: #992b2b;

  $mdc-theme-on-secondary: #000;
  
  // typhography
  $mdc-typography-font-family: unquote("Veranda, sans-serif");
  $mdc-typography-styles-button: (
   font-size: 18px,
   font-weight: 600,
   letter-spacing: 0.05em,
  );

  @import 'preact-material-components/Theme/mdc-theme.scss';

  @import '@material/typography/mdc-typography.scss';
  @import '@material/button/mdc-button.scss';
  @import "@material/dialog/mdc-dialog.scss";
  @import "@material/textfield/mdc-text-field";
  @import "@material/top-app-bar/mdc-top-app-bar.scss";


  :root {

      box-sizing: border-box; 
  }
  .mdc-top-app-bar {
    background: #ECECEC;
    color:#000 !important;
  }

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: #4056a1;;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
svg#board {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
.disabled {
  display: none;
  transition: all 1s;
}
#app {
	height: 100%;
}


.pixelated {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
.none {
  position: absolute;
  right: -1000px;
}
.mdc-dialog__surface {
  background-color: rgba($color: #fff, $alpha: 0.8);
}
.mdc-dialog__body {
  color: #4056a1;
}
.mdc-theme--dark .mdc-card {
  color: #444;
}
.mdc-dialog__body--scrollable {
  max-height: 80vh;
}
.mdc-top-app-bar__row{
  height: 92px;
}
#app .page {
  padding-top: 64px;
  
}
.container_main {
  height: calc( 100vh - 64px);
  position: relative;
}
.shadow {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
 }
@media (max-width: 599px) {
  #app .page {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 890px) {
  .mdc-top-app-bar__row{
    height: 78px;
  }
  .mdc-button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media only screen and (max-width: 760px) {
  .mdc-top-app-bar__row{
    height: 64px;
  }
  .container_main {
    height: calc( 100vh + 64px);
    position: relative;
  }
}
@media (max-width: 492px) {
  .mdc-dialog__header__title {
    font-size: 0.8rem;
  }
  .mdc-button {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}
@media (max-width: 410px) {
  .logo {
    height: 46px;
    margin:  0 auto;
    margin-right: 48px;
    width: auto;
    align-self: center;
    justify-self: center;
  }
  .mdc-top-app-bar__row {
    height: 40px;
  }
}

.noScroll {
  max-height: 100vh !important;
  position:fixed;
  overflow:hidden;
}
.t_link {
  color: $mdc-theme-secondary;
  text-decoration: none;
  margin-left: 20px;
}
.t_link:hover, .t_link:active {
  color: white;
  text-decoration: underline;
}
