.game {
	width: 100%;
	/* height: calc(100vh - 64px); */
	height: 100%;
}

.mapCanvas {
	background: #EEE;
	width: 100%;
	height: 100%;
}

.pixel {
	background-color: #6200ee;
	color: #FFF;
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 50px;
	padding: 10px;
	line-height: 30px;
	font-size: 40px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
}